:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 72px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: rgba(216, 214, 197, 1);
    --primary: rgba(88, 89, 91, 1);
    --secondary: rgba(109, 110, 113, 1);
    --tertiary: rgb(175, 175, 175);
    --content: rgba(61, 61, 61, 1);
    --hljs-bg: #eee8d5;
    --code-bg: #eee8d5;
    --border: rgba(240, 202, 102, 1);
    --highlight: rgba(240, 202, 102, 1);
}

.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: rgba(240, 202, 102, 1);
    --secondary: rgba(216, 214, 197, 1);
    --tertiary: rgb(75, 75, 75);
    --content: rgba(206, 205, 188, 1);
    --hljs-bg: #282a36;
    --code-bg: #282a36;
    --border: rgba(240, 202, 102, 1);
    --highlight: rgba(88, 89, 91, 1);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}