{{- define "main" }}

{{- if and (.Param "ShowToc" ) (ge (len .TableOfContents) 240) }}
<div class="wrapper">
  <!-- Version of the page with table of contents -->
  <article class="post-single">
    <header class="post-header">
      {{ partial "breadcrumbs.html" . }}
      <h1 class="post-title">
        {{ .Title }}
        {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
      </h1>
      {{- if .Description }}
      <div class="post-description">
        {{ .Description }}
      </div>
      {{- end }}
      {{- if not (.Param "hideMeta") }}
      <div class="post-meta">
        {{- partial "post_meta.html" . -}}
        {{- partial "translation_list.html" . -}}
        {{- partial "edit_post.html" . -}}
        {{- partial "post_canonical.html" . -}}
      </div>
      {{- end }}
    </header>
    {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
    {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
    {{- partial "toc.html" . }}
    <div class="post-content">
      {{- if not (.Param "disableAnchoredHeadings") }}
      {{- partial "anchored_headings.html" .Content -}}
      {{- else }}{{ .Content }}{{ end }}
    </div>
    <footer class="post-footer">
      {{- if .Params.tags }}
      <section class="section post-tags">
        <div class="content">
          <h2>Tagged with</h2>
        </div>
        <ul class="post-tags">
          {{- range ($.GetTerms "tags") }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
          {{- end }}
        </ul>
      </section>
      {{- end }}
      {{- if (.Param "ShowPostNavLinks") }}
      {{- partial "post_nav_links.html" . }}
      {{- end }}
      {{- if (.Param "ShowPostRelatedContent") }}
      {{- partial "related.html" . }}
      {{- end }}
      {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
      <section class="section share-icons">
        {{- partial "share_icons.html" . -}}
      </section>
      {{- end }}
    </footer>

    {{- if (.Param "comments") }}
    {{- partial "comments.html" . }}
    {{- end }}
  </article>

  <aside class="hidden lg:block tableOfContentContainer" id="tableOfContentContainer">
    {{ .TableOfContents }}
  </aside>
</div>
{{- else }}

  <!-- Version of the page without table of contents -->
  <article class="post-single">
    <header class="post-header">
      {{ partial "breadcrumbs.html" . }}
      <h1 class="post-title">
        {{ .Title }}
        {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
      </h1>
      {{- if .Description }}
      <div class="post-description">
        {{ .Description }}
      </div>
      {{- end }}
      {{- if not (.Param "hideMeta") }}
      <div class="post-meta">
        {{- partial "post_meta.html" . -}}
        {{- partial "translation_list.html" . -}}
        {{- partial "edit_post.html" . -}}
        {{- partial "post_canonical.html" . -}}
      </div>
      {{- end }}
    </header>
    {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
    {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
    <div class="post-content">
      {{- if not (.Param "disableAnchoredHeadings") }}
      {{- partial "anchored_headings.html" .Content -}}
      {{- else }}{{ .Content }}{{ end }}
    </div>
    <footer class="post-footer">
      {{- if .Params.tags }}
      <ul class="post-tags">
        {{- range ($.GetTerms "tags") }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
      {{- if (.Param "ShowPostNavLinks") }}
      {{- partial "post_nav_links.html" . }}
      {{- end }}
      {{- if (.Param "ShowPostRelatedContent") }}
      {{- partial "related.html" . }}
      {{- end }}
      {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
      {{- partial "share_icons.html" . -}}
      {{- end }}
    </footer>

    {{- if (.Param "comments") }}
    {{- partial "comments.html" . }}
    {{- end }}
  </article>

{{ end }}

{{- end }}{{/* end main */}}
