{{- /* theme-toggle is enabled */}}
{{- if (not .Site.Params.disableThemeToggle) }}

{{- /* theme is light */}}
{{- if (eq .Site.Params.defaultTheme "light") }}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    }
</script>

{{- /* theme is dark */}}
{{- else if (eq .Site.Params.defaultTheme "dark") }}
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    }
</script>
{{- else }}

{{- /* theme is auto */}}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }
</script>
{{- end }}

{{- /* theme-toggle is disabled and theme is auto */}}
{{- else if (and (ne .Site.Params.defaultTheme "light") (ne .Site.Params.defaultTheme "dark"))}}
<script>
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
        document.body.classList.remove('light');
    } else {
        document.body.classList.remove('dark');
        document.body.classList.add('light');
    }
    const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    darkModeMediaQuery.addListener((e) => {
        const darkModeOn = e.matches;
        if (darkModeOn) {
            document.body.classList.add('dark');
            document.body.classList.remove('light');
        } else {
            document.body.classList.remove('dark');
            document.body.classList.add('light');
        }
    })
</script>
{{- end }}

<noscript>
    <style type="text/css">
        #theme-toggle,
        .top-link {
            display: none;
        }

    </style>
    {{- if (and (ne .Site.Params.defaultTheme "light") (ne .Site.Params.defaultTheme "dark")) }}
    <style>
        @media (prefers-color-scheme: dark) {
            :root {
                --theme: #1d1e20;
                --entry: #2e2e33;
                --primary: rgba(240, 202, 102, 1);
                --secondary: rgba(216, 214, 197, 1);
                --tertiary: rgba(128, 130 ,133 , 1);
                --content: rgba(206, 205, 188, 1);
                --hljs-bg: #282a36;
                --code-bg: #282a36;
                --border: rgba(240, 202, 102, 1);
            }

            .list {
                background: var(--theme);
            }
        }

    </style>
    {{- end }}
</noscript>

<header class="header">
    <nav class="nav">
        <div class="logo">
            {{- $label_text := (.Site.Params.label.text | default .Site.Title) }}
            {{- if .Site.Title }}
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)">
                {{- if .Site.Params.label.icon }}
                <picture>
                    {{ $isJPG := eq (path.Ext .Site.Params.label.icon) ".jpg" }}
                    {{ $isPNG := eq (path.Ext .Site.Params.label.icon) ".png" }}
                    {{ if ($isJPG) -}}
                    {{ $avifPath:= replace .Site.Params.label.icon ".jpg" ".avif" }}
                    {{ $avifPathStatic:= printf "/static/%s" $avifPath }}
                
                    {{ if (fileExists $avifPathStatic) -}}
                    <source media="(min-width: 768px)" srcset="{{ $avifPath | safeURL }}" type="image/avif"
                        alt="logo"
                        width="{{- .Site.Params.label.iconWidth | default " 245px" -}}"
                        height="{{- .Site.Params.label.iconHeight | default " 30px" -}}">
                    {{- end }}
                
                    {{ $webpPath:= replace .Site.Params.label.icon ".jpg" ".webp" }}
                    {{ $webpPathStatic:= printf "/static/%s" $webpPath }}
                
                    {{ if (fileExists $webpPathStatic) -}}
                    <source media="(min-width: 768px)" srcset="{{ $webpPath | safeURL }}" type="image/webp"
                        alt="logo"
                        width="{{- .Site.Params.label.iconWidth | default " 245px" -}}"
                        height="{{- .Site.Params.label.iconHeight | default " 30px" -}}">
                    {{- end }}
                    {{- end }}
                
                    {{ if ($isPNG) -}}
                    {{ $avifPath:= replace .Site.Params.label.icon ".png" ".avif" }}
                    {{ $avifPathStatic:= printf "/static/%s" $avifPath }}
                
                    {{ if (fileExists $avifPathStatic) -}}
                    <source media="(min-width: 768px)" srcset="{{ $avifPath | safeURL }}" type="image/avif"
                        alt="logo"
                        width="{{- .Site.Params.label.iconWidth | default " 245px" -}}"
                        height="{{- .Site.Params.label.iconHeight | default " 30px" -}}">
                    {{- end }}
                
                    {{ $webpPath:= replace .Site.Params.label.icon ".png" ".webp" }}
                    {{ $webpPathStatic:= printf "/static/%s" $webpPath }}
                
                    {{ if (fileExists $webpPathStatic) -}}
                    <source media="(min-width: 768px)" srcset="{{ $webpPath | safeURL }}" type="image/webp"
                        alt="logo"
                        width="{{- .Site.Params.label.iconWidth | default " 245px" -}}"
                        height="{{- .Site.Params.label.iconHeight | default " 30px" -}}">
                    {{- end }}
                    {{- end }}

                    {{- if .Site.Params.label.smallIcon }}
                    {{ $isSmallJPG := eq (path.Ext .Site.Params.label.smallIcon) ".jpg" }}
                    {{ $isSmallPNG := eq (path.Ext .Site.Params.label.smallIcon) ".png" }}

                    {{ if ($isSmallJPG) -}}
                    {{ $avifPath:= replace .Site.Params.label.smallIcon ".jpg" ".avif" }}
                    {{ $avifPathStatic:= printf "/static/%s" $avifPath }}
                    
                    {{ if (fileExists $avifPathStatic) -}}
                    <source srcset="{{ $avifPath | safeURL }}" type="image/avif"
                        alt="logo"
                        width="{{- .Site.Params.label.smallIconWidth | default " 70px" -}}"
                        height="{{- .Site.Params.label.smallIconHeight | default " 70px" -}}">
                    {{- end }}
                    
                    {{ $webpPath:= replace .Site.Params.label.smallIcon ".jpg" ".webp" }}
                    {{ $webpPathStatic:= printf "/static/%s" $webpPath }}
                    
                    {{ if (fileExists $webpPathStatic) -}}
                    <source srcset="{{ $webpPath | safeURL }}" type="image/webp"
                        alt="logo"
                        width="{{- .Site.Params.label.smallIconWidth | default " 70px" -}}"
                        height="{{- .Site.Params.label.smallIconHeight | default " 70px" -}}">
                    {{- end }}
                    {{- end }}

                    {{ if ($isSmallPNG) -}}
                    {{ $avifPath:= replace .Site.Params.label.smallIcon ".png" ".avif" }}
                    {{ $avifPathStatic:= printf "/static/%s" $avifPath }}
                    
                    {{ if (fileExists $avifPathStatic) -}}
                    <source srcset="{{ $avifPath | safeURL }}" type="image/avif"
                        alt="logo"
                        width="{{- .Site.Params.label.smallIconWidth | default " 70px" -}}"
                        height="{{- .Site.Params.label.smallIconHeight | default " 70px" -}}">
                    {{- end }}
                    
                    {{ $webpPath:= replace .Site.Params.label.smallIcon ".png" ".webp" }}
                    {{ $webpPathStatic:= printf "/static/%s" $webpPath }}
                    
                    {{ if (fileExists $webpPathStatic) -}}
                    <source srcset="{{ $webpPath | safeURL }}" type="image/webp"
                        alt="logo"
                        width="{{- .Site.Params.label.smallIconWidth | default " 70px" -}}"
                        height="{{- .Site.Params.label.smallIconHeight | default " 70px" -}}">
                    {{- end }}
                    {{- end }}
                    {{- end }}
                
                    {{ $img := imageConfig (add "/static" (.Site.Params.label.icon | safeURL)) }}
                    <img src="{{- .Site.Params.label.icon | safeURL -}}" alt="logo" aria-label="logo"
                        width="{{- .Site.Params.label.iconWidth | default " 245px" -}}"
                        height="{{- .Site.Params.label.iconHeight | default " 34px" -}}">
                </picture>
                {{- else }}
                {{- $label_text -}}
                {{- end -}}
            </a>
            {{- end }}
        </div>
        <span class="logo-switches">
            {{- if (not .Site.Params.disableThemeToggle) }}
            <button id="theme-toggle" accesskey="t" title="(Alt + T)">
                <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                </svg>
                <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5"></circle>
                    <line x1="12" y1="1" x2="12" y2="3"></line>
                    <line x1="12" y1="21" x2="12" y2="23"></line>
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                    <line x1="1" y1="12" x2="3" y2="12"></line>
                    <line x1="21" y1="12" x2="23" y2="12"></line>
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
            </button>
            {{- end }}
        
            {{- $lang := .Lang}}
            {{- $separator := or $label_text (not .Site.Params.disableThemeToggle)}}
            {{- with $.Site.Home.AllTranslations }}
            <ul class="lang-switch">
                {{- if $separator }}<li>|</li>{{ end }}
                {{- range . -}}
                {{- if ne $lang .Lang }}
                <li>
                    <a href="{{- .Permalink -}}"
                        title="{{ .Language.Params.languageAltTitle | default (.Language.LanguageName | emojify) | default (.Lang | title) }}"
                        aria-label="{{ .Language.LanguageName | default (.Lang | title) }}">
                        {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
                        {{- .Language.LanguageName | emojify -}}
                        {{- else }}
                        {{- .Lang | title -}}
                        {{- end -}}
                    </a>
                </li>
                {{- end -}}
                {{- end}}
            </ul>
            {{- end }}
        </span>
        {{- $currentPage := . }}
        <i class="hamburger">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 28">
                <path
                    d="M24 21v2c0 0.547-0.453 1-1 1h-22c-0.547 0-1-0.453-1-1v-2c0-0.547 0.453-1 1-1h22c0.547 0 1 0.453 1 1zM24 13v2c0 0.547-0.453 1-1 1h-22c-0.547 0-1-0.453-1-1v-2c0-0.547 0.453-1 1-1h22c0.547 0 1 0.453 1 1zM24 5v2c0 0.547-0.453 1-1 1h-22c-0.547 0-1-0.453-1-1v-2c0-0.547 0.453-1 1-1h22c0.547 0 1 0.453 1 1z">
                </path>
            </svg>
        </i>
        <ul id="menu">
            {{- range .Site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $is_search := eq ($.Site.GetPage .KeyName).Layout `search` }}
            <li>
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                    <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                </a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>
