.header {
    position: sticky;
    width: 100%;
    z-index: 10;
    background-color: var(--theme);
    top: 0;
}

#top {
    background: var(--theme);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo, #menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
    padding: 0.6em 0 0 1em;
    margin: 0;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    position: absolute;
    width: 100%;
    background: var(--highlight);
    display: none;
    margin-left: 0;
}

#menu li+li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
    display: block;
    line-height: 50px;
    text-align: center;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

#menu a:hover, #menu a:focus, #menu a:hover svg, #menu a:focus svg {
    color: var(--tertiary);
    fill: var(--tertiary);
}

#menu a svg {
    fill: var(--primary);
    margin-bottom: 0;
}

#menu:hover {
    display: block;
}

#menu li+li {
    margin-left: 0;
}

.hamburger {
    padding: 0 0.8em;
    font-size: 2.2em;
    line-height: 82px;
    display: inline-block;
    z-index: 2;
}

.hamburger svg {
    fill: var(--primary);
}

.hamburger:hover~ul#menu {
    display: block;
}

@media only screen and ( min-width: 768px) {
    .hamburger {
        display: none !important;
    }
    #menu {
        position: static;
        display: flex;
        background: none;
        clear: none;
        flex: 1;
        justify-content: flex-end;
    }
    #menu:hover {
        display: flex;
    }
    #menu li {
        padding: 0 1em;
    }
    #menu a svg {
        margin-bottom: -4px;
    }
}

.lang-switch li, .lang-switch ul, .logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}